/*For universal box-sizing to prep grid. Place nothing else here*/
* {
	box-sizing: border-box;
}

/*To set row property for grid*/
.row::after
{
	content: "";
	clear: both;
	display: table;
}

/*For Mobile*/
[class *= "col"]{
    width: 100%;
}

/*For Tablet*/
@media only screen and (min-width: 600px) {
		[class*="col-"] {
        float: left;
        padding: 15px;
    }

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/*For PC*/
@media only screen and (min-width: 768px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*Set base document fonts and backgrounds here*/
html {
    /* background-color: ...; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

/* Assign to div with class "header" and provide at minimum a bg colour and padding*/
.header {
    background-color: grey;
    padding: 5%;
}

/*Assigned to main content area as div with class "content", give some margin at the top for space*/
.content {
    margin-top: 5px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

nav > ul > li:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
  }

nav > ul > li > a {
    display: inline-block;
    padding: 14px 10px;
    /* background-color: #dddddd; */
    color: white;
    text-decoration: none;
  }

  nav > ul > li > a:hover {
    background-color: #111;
  }

h1 {
    font-size: 1.25em;
    text-align: center;
}

.users-con {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr;
    /* float: right; */

    gap: 10px; 
}

.user-box {
    /* padding: 5px; */
}

.user-header {
    font-weight: bold;
}

.tasks {
    border-right: 1px solid black;
}

.tasks-con {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr; 

    gap: 10px; 
}

.emp-tasks-con {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 

    gap: 10px; 
}

.manager-tasks-con {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr; 

    gap: 10px; 
}

.tasks-box {
    /* padding: 5px; */
}

.tasks-header {
    font-weight: bold;
}

.sub-container {
    display: flex;
    width: 100%;
}

.edit-mode, .create-mode, .edit-task-mode {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="button"], button, input[type="date"], input[type = "submit"], textarea, option, optgroup, select {
    font-size:1rem;
}

.createUser {
    text-align:center;
    margin-bottom: 15px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.createUser > div > form > .form-group {
    max-width: 100%;;
}

label {
    text-align: left;
}

#edit-btn, .form-btns {
    text-align: center;
}