RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|txt|gif|jpg|png)$ index.php?$1 [L,QSA]

SetEnv DB_HOST "localhost"
SetEnv DB_NAME "task_management_system"
SetEnv DB_USER "root"
SetEnv DB_PASS ""